.tablepress thead th,
.tablepress tfoot th {
	background-color: rgb(228,228,228);
	font-weight: bold;
	vertical-align: middle;
}

.dataTables_wrapper .sorting div:before,
.dataTables_wrapper .sorting div:after,
.dataTables_wrapper .sorting_asc div:before,
.dataTables_wrapper .sorting_asc div:after,
.dataTables_wrapper .sorting_desc div:before,
.dataTables_wrapper .sorting_desc div:after {
	font-family: TablePress;
	font-weight: normal;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	right: -14px;
	margin: auto;
	height: 14px;
	line-height: 1;
	padding: 1px 0 0;
	color: #555;
}

.dataTables_paginate .paginate_disabled_previous,
.dataTables_paginate .paginate_disabled_next {
	color: rgb(78,78,78) !important;
	text-decoration: none;
}

.dataTables_wrapper .sorting:hover,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
	background-color: rgb(206,206,206);
}

.tablepress .row-hover tr:hover td {
	background-color: rgb(197,241,229);
}

.dataTables_filter {
	float: right;
	white-space: nowrap;
	padding-bottom: 20px;
	margin-top: -5px;
}

.tablepress {
	table-layout: fixed;
	width: 900px !important;
}

.tablepress-id-3 .column-1 {
	width: 90px;
}

.tablepress-id-3 .column-2 {
	width: 70px;
}

.tablepress-id-3 .column-3 {
	width: 50px;
}

.tablepress-id-3 .column-4 {
	width: 120px;
}

.tablepress-id-3 .column-5 {
	width: 90px;
}

.tablepress-id-3 .column-6 {
	width: 90px;
}

.tablepress-id-3 .column-7 {
	width: 60px;
}

.tablepress-id-3 .column-8 {
	width: 120px;
}

.dataTables_wrapper {
	clear: both;
	margin-bottom: 1em;
	margin-left: -15px;
}

.dataTables_length {
	float: left;
	white-space: nowrap;
	margin-left: 15px;
}