/*Header*/



#banner {

	padding: 0;

	position: relative;

	min-height: 146px;

}



.shadow.bottom {

	background-position: 0 -25px;

	bottom: 0;

}



.shadow {

	background: url('images/shadow.png') repeat-x 0 0;

	height: 25px;

	left: 0;

	position: absolute;

	right: 0;

	z-index: 200;

}



.text {

	bottom: 0;

	left: 0;

	padding-bottom: 46px;

	position: absolute;

}



.text .green {

	margin: 0;

}



.text .green span {

	background-color: #424143;

	color: #FFF;

	display: inline-block;

	font-family: inherit;

	font-size: 19px;

	text-transform: uppercase;

	margin-bottom: -2px;

	padding: 20px 25px 17px 46px;

}



span.outline{

	position: relative;

	-webkit-box-shadow: 0 5px 10px rgba(53, 53, 53, 0.7);   

	-moz-box-shadow: 0 5px 10px rgba(53, 53, 53, 0.7);

	box-shadow: 0 5px 10px rgba(53, 53, 53, 0.7);

}



ul.quick-links{

    position: relative;

    float: left;

    margin-top: 9px;

}



ul.quick-links a{

    color: #fff;

    font-weight: 700;

    font-style: italic;

    font-size: 14px;

    text-transform: uppercase;

    text-align: center;

    text-shadow: 2px 3px 9px rgb(39, 39, 39);

}



ul.quick-links span{

    color: #fff;

    font-weight: 700;

    font-style: italic;

    font-size: 14px;

    text-transform: uppercase;

    text-shadow: 2px 3px 9px rgb(39, 39, 39);

}



li.q1{

    text-align: center;

    background: url(images/greybox.png);

    background-repeat: no-repeat;

    width: 270px;

    height: 75px;

    font-size: 14px;

    padding-top: 22px;

    margin: 0px 0px 0px 51px;

}



li.q2{

    text-align: center;

    background: url(images/greybox.png);

    background-repeat: no-repeat;

    width: 270px;

    height: 75px;

    font-size: 14px;

    padding-top: 21px;

    margin: -35px 0px 0px 40px;

}



li.q3{

    text-align: center;

    background: url(images/greybox.png);

    background-repeat: no-repeat;

    width: 270px;

    height: 75px;

    font-size: 14px;

    padding-top: 20px;

    margin: -34px 0px 0px 29px;

}



li.q4{

    text-align: center;

    background: url(images/greybox.png);

    background-repeat: no-repeat;

    width: 270px;

    height: 75px;

    font-size: 15px;

    padding-top: 31px;

    margin: -32px 0px -26px 18px;

}



.button2{

    float: right;

    text-align: center;

    background: url(images/learnmore_btn.png);

    background-repeat: no-repeat;

    width: 160px;

    height: 58px;

    margin-top: -40px;

    margin-right: 39px;

    margin-bottom: -15px;

    padding-top: 23px;

    text-transform: uppercase;

    font-size: 11px;

    font-weight: bold;

}



.button2 a::after{

	content: '>>';

	padding-left: 5px;

}



.button2 a{

    color: #fff;

}



.logo img{

	width: 198px;

	height: 81px;

}



#find-a-contractor{

	width: 620px;

	padding: 0px;

	margin: 34px 0px 0px 0px;

	display: inline-block;

	float: right;

	color: #424242;

    font-size: 12px;

    font-style: italic;

}



#feature{

    background: #219875;

}



.button1{

    float: right;

    background: url(images/contractorbtn_shadow.png);

    background-repeat: no-repeat;

    width: 267px;

    height: 56px;

    margin-top: -21px;

}

.button1 a.txt{

    width: 237px;

    height: 31px;

    text-align: center;

    padding-top: 23px;

    padding-left: 13px;

    color: #fff;

    font-size: 11px;

    font-weight: 700;

    position: absolute;

    text-transform: uppercase;

}



#head {

    float: left;

    width: 100%;

    background: transparent !important;

    margin-top: 25px;

    margin-bottom: 35px;

}



#headright {

    background: transparent !important;

    float: right;

}



#topbar {

    height: 60px;

}



ul.social {

    list-style: none;

    margin: 20px 10px 0px 10px;

    float: left;

}



ul.social li {

    float: left;

    margin-left: 10px;

}



#blogname {

    float: left;

    margin: 20px 0px 0px 0px;

}



#blogname h1 {

    font-weight: 800;

    font-size: 26px;

    text-transform: uppercase;

    margin: 0px 0px;

    font-family: Helvetica, Arial, sans-serif;

}



#blogname h1 a, #blogname h1 a:visited {

    color: #4E4554;

}



#blogname h2 {

    font-family: Helvetica, Arial, sans-serif;

    font-size: 14px;

    color: #333333;

    font-weight: 400;

    text-transform: uppercase;

}



.panelpost{

	background: #fff;

	border: 1px solid rgb(223, 223, 223);

	height: auto;

	padding: 20px 20px 30px 20px;

	box-shadow: 0 0 10px 0px rgb(226, 226, 226);

	-moz-box-shadow: 0 0 10px 0px rgb(226, 226, 226);

	-webkit-box-shadow: 0 0 10px 0px rgb(226, 226, 226);

	-o-box-shadow: 0 0 10px 0px rgb(226, 226, 226);

}



.evest-icon{



}



.evest-icon img{

	display: block;

	margin: 0 auto;

	padding-bottom: 12px;

	width: 90px;

	height: auto;

}



.panelpost h2, .panelpost h2 a{

	color: #219875;

	font-size: 14px;

	text-align: center;

	text-transform: uppercase;

}



.panelpost h2 a:hover{

	text-decoration: none;

}


