



/* TOP-MENU */



#mobileMenu_web2feel {

    margin: 10px 20px;

    padding: 3px 0px;

    border: 1px solid #593A40;

}



#botmenu {

    margin: 0px auto;

    margin-left: -19px; /* zoom nav bug fix */

    float: left;

}



#subnav {

    clear: both;

    color: #fff;

    font-size: 13px;

    text-transform: uppercase;

    margin: 12px auto;

    overflow: hidden;

}



#subnav ul {

    float: left;

}



#subnav li {

    float: left;

    list-style-type: none;

    font-weight: 400;

}



#subnav li a {

    color: #444; 

    display: block;

    padding: 10px 4px 10px 4px;

    position: relative;

    font-size: 12px;

    font-weight: 700;

    text-decoration: none;

    /* init delay */

    -webkit-transition-delay: 0s;

    -moz-transition-delay: 0s;

    -ms-transition-delay: 0s;

    -o-transition-delay: 0s;

     transition-delay: 0s;

     transition: 0s all; 

}



#subnav li a:hover,

#subnav li a:active,

#subnav .current-menu-item a {

    color: #219875;

    border-bottom: 3px solid #219875;

    padding-bottom: 3px;

    /* delay on mouse over */

    -webkit-transition: .1s all;   

    -webkit-transition-delay: .1s; 

    -moz-transition: .1s all;   

    -moz-transition-delay: .1s; 

    -ms-transition: .1s all;   

    -ms-transition-delay: .1s; 

    -o-transition: .1s all;   

    -o-transition-delay: .1s; 

    transition: .1s all;   

    transition-delay: .1s; 

}



#subnav li a .sf-sub-indicator {

    display: block;

    overflow: hidden;

    position: absolute;

    text-indent: -9999px;

}



#subnav li li a,

#subnav li li a:link,

#subnav li li a:visited {

    background-color: #593A40;

    border-top-width: 0;

    color: #e7e7e7;

    font-size: 13px;

    padding: 10px 10px;

    position: relative;

    text-transform: none;

    width: 140px;

    font-weight: 400;

}



#subnav li li a:hover,

#subnav li li a:active {

    color: #fff;

    background: #493034;

}



#subnav li ul {

    height: auto;

    padding: 0px 0px;

    left: -9999px;

    margin: 0 0 0 1px;

    position: absolute;

    width: 160px;

    z-index: 9999;

}



#subnav li ul a {

    width: 160px;

}



#subnav li ul ul {

    margin: -38px 0 0 160px;

}



#subnav li:hover>ul,

#subnav li.sfHover ul {

    left: auto;

}

	

	