/*Find a Contractor query filter and display */

/*the ajax loading icon*/
.umloading {
	width:100%;
	height:44px;
	margin-top: 180px;
	background:rgba(255, 255, 255, 0.8) url('ajax_loader.gif') no-repeat 50% 50%;
	
}

#uwpqsf_id {
}

#uwpqsf_id:after {
	content: "";
	display: table;
	clear: both;
}

.uwpqsf_class{
	width: calc(50% - 45px);
	display: block;
	height: auto;
}

#uwpqsffrom_860 > div:nth-child(6) {
	display: block;
	float: left;
	margin-top: 45px;
	color: #555555;
}

div.tax-check-0 label:nth-child(6) {
	display: none;
}

.tax-check-0 {
	float: left;
	margin-left: 45px;
}

.tax-check-1 {
	float: right;
	margin-right: 45px;
	
}

.togglecheck {
	
	span {
		display: block;
		font-size: 18px;
		font-weight: 700;
		color: #219875;
	}
	
	label {
		float: left;
	}

	input[type=checkbox] {
		display:none;
	}
	 
	label {
		display:inline-block;
		margin: 1px -1px;
		padding: 4px 12px;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border-radius: 1px;
		border: 1px solid #ccc;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}
	
	.input-checked {
		background-image: none;
		outline: 0;
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		background-color: #e0e0e0;
		color: #219875;
	}
}
	 

#results {
	clear: both;
	
	transition: height 0.2s ease;
	margin: 55px 45px 15px 45px;
	
	.result {
		display: inline-block;
		width: 267px;
		height: 300px;
		padding: 10px 10px;
		vertical-align: top;
		overflow: hidden;
		
		&:hover {
			background-color: #c5f1e5;
		}
	}
	
	a {
		display: block;
		min-height: 360px;
		
	}
	
	.contractor-img {
		height: 175px;
		background-size: cover;
	}
	
	h1 {
		text-align: center;	
	}
	
	h2 {
		font-size: 22px;
		margin: 10px 0;
	}
	
	hr {
		 border: 0;
		 height: 0;
		 border-top: 1px solid rgba(0, 0, 0, 0.1);
		 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		
	}
	
	
}

.contractor-entry {
	
	img {
		max-width: 50%;
		height: auto;
		float: right;
		padding: 0 0 45px 45px;
	}
	
	.entry {
		width: calc(50% - 45px);
		float: left;
		margin-bottom: 45px;
	}
	
	hr {
		 border: 0;
		 height: 0;
		 border-top: 1px solid rgba(0, 0, 0, 0.1);
		 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		
	}
	
	#contact {
		
		a {
			width: auto;
			display: inline-block;
			background-color: #555555;
			color: white;
			font-size: 16px;
			font-weight: 400;
			margin: 2px;
			padding: 5px 11px;
			border-radius: 7px;
			
			&:hover {
				background-color: #219875;
			}
		}
	}
}

